<%= form_for(@media_file) do |f| %>
  <% if @media_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@media_file.errors.count, "error") %> prohibited this asset from being saved:</h2>
      <ul>
      <% @media_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if @media_file.new_record? || @media_file.link_url.present? %>
      <%= f.label :link_url, "Insert video or website link" %>
      <%= f.text_field :link_url %> <br><br>
    <% end %>
    <% if @media_file.new_record? || @media_file.uploaded_file.present? %>
      <span class="file">
        <%= f.label :uploaded_file, "File" %>
        <%= f.file_field :uploaded_file %>
      </span>
    <% end %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Upload" %>
  </div>
<% end %>
<script>
  $('#media_file_link_url').keyup(function (e) {
    if($(this).val() != '') {
      $('.file').hide();
    } else {
      $('.file').show();
    }
  });
</script>